/*_____________ Estilos generales ________*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    /*fonts*/
    --font-Heebo: 'Heebo', sans-serif;
    --font-Poppins: 'Poppins', sans-serif;

    /*Colores*/    
    --azul: #2D9CDB;
    --grisObscuro: #333333;
    --grisClaro: #F2F2F2;
    --grisTxtMail: #BDBDBD;
    --verde: #27AE60;
    --naranja: #EB5757;
    --grisTxtSub: #828282;
    --blanco: #ffff;
    --grisBoton:#E0E0E0;
    --fondoFooter: #100E1D;
    --grismedio: #4f4f4f;

}
/*_____________ Contenedor General ________*/
.container{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-family: var(--font-Poppins);
    margin: auto;
    max-width: 1440px;
    min-width: 375px;
}
.navegador{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.menu3{
    align-self: center
    
}
.edielogo{
    font-family: var(--font-Heebo);
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 35px;
    color: var(--grisObscuro);

}
.menuHeader{
    display: flex;
    list-style: none;
    font-family: var(--font-Poppins);
    font-weight: 500;
    font-size: 24px;
    align-items: center;
    gap: 1.8rem;
    margin: auto;
    justify-content: right;
    display: none;
   
}
.menulihead a{
    text-decoration: none;
    color: var(--grisObscuro);
    position: relative;
    z-index: -1;
    
}
header{
    width: 100%;
    padding-top: 2.5em;
}
.subUnhappy{
    color: var(--azul);
    font-weight: 500;
    line-height: 18px;
    font-size: 12px;
    padding-left: 1.5rem;
}
.maintitulo{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color:var(--grisObscuro);
    padding-left: 1.5rem;
    width: 90%;
    padding-bottom: 20px;
}
.divHero{
    width: 100%;
    height: fit-content;
}
.hero{
    object-fit: cover;   
    width: 100%;
    max-height: fit-content;
    border-radius: 18px;

}
.story{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color:var(--grisObscuro);
    padding-left: 1.5rem;
    width: 70%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.storyp1{
    padding-left: 1.5rem;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    width: 85%;
    padding-bottom: 40px;
    color: var(--grismedio);
}
.storyp2{
    color: var(--grisTxtSub);
    font-size: 10px;
    font-weight: 500;
    line-height: 15px;
    padding-bottom: 10PX;
    padding-left: 1.5rem;
}
.formulario{
    display: flex;
    align-items: center;
    background-color: var(--grisClaro);
    width: 85%;
    padding-left: 1.5rem;
    justify-content: space-between;
    padding:.3rem 0 ;
    border-radius: 12px;
    margin: auto;
}
#email{
    background-color:var(--grisClaro);
    margin-left: 1rem;
    text-decoration: none;
    font-family: var(--font-Poppins);
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: var(--grisTxtMail);
    border: none;
    outline: none;

}
.botonJoin{
    text-decoration: none;
    background-color: var(--azul);
    border-radius: 12px;
    color: var(--grisClaro);
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    padding: .5rem 1rem;
    margin-right: .2rem;

}
.offer{
    padding-top: 4rem;
    color: var(--grisObscuro);
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    padding-left: 1.5rem;
    width: 70%;
    padding-bottom: 4rem;
}
.card_icons{
    margin-bottom: 8rem;
    border-radius: 24px;
    padding: 2rem 0;
    transition: background-color .5s;
}
.card_icons:hover{
    box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
    background-color: var(--blanco);
}
.edit{
    display: flex;
    background-color: var(--azul);
    border-radius: 16px;
    width: fit-content;
    padding: .8rem;
    margin-left: 1.5rem;
}
.icon{
    fill: var(--blanco);
}
.ui_design{
    padding-top: 2rem;
    color: var(--grisObscuro);
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 36px;
    padding-left: 1.5rem; 
    padding-bottom: 2rem;
}
.ui_p{
    color: var(--grismedio);
    width: 90%;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    padding-left: 1.5rem; 
    padding-bottom: 2rem;
}
.get_boton{
    width: fit-content;
    padding: .8rem;
    background-color: var(--grisBoton);
    border-radius: 12px;
    margin-left: 1.5rem;

}
.getstarted{
    text-decoration: none;
    color: var(--grisTxtSub);
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
}
.front{
    display: flex;
    background-color: var(--verde);
    border-radius: 16px;
    width: fit-content;
    padding: .8rem;
    margin-left: 1.5rem;
}
.front_end{
    padding-top: 2rem;
    color: var(--grisObscuro);
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 36px;
    padding-left: 1.5rem; 
    padding-bottom: 2rem;
}
.front_p{
    color: var(--grismedio);
    width: 90%;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    padding-left: 1.5rem; 
    padding-bottom: 2rem;
}
.back{
    display: flex;
    background-color: var(--naranja);
    border-radius: 16px;
    width: fit-content;
    padding: .8rem;
    margin-left: 1.5rem;
}
.back_end{
    padding-top: 2rem;
    color: var(--grisObscuro);
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 36px;
    padding-left: 1.5rem; 
    padding-bottom: 2rem;
}
.back_p{
    color: var(--grismedio);
    width: 90%;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    padding-left: 1.5rem; 
    padding-bottom: 2rem;
}
.good{
    display: flex;
    width: 80%;
    padding-top: 2rem;
    color: var(--grisObscuro);
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    line-height: 36px;
    padding-left: 1.5rem; 
    padding-bottom: 2rem;
}
.img_cards_apps{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
.img_card{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}
.card_apps{
    object-fit: cover;   
    width: 100%;
    border-radius: 18px;
    
}
.card_app_p1{
    color: var(--grisTxtSub);
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
    line-height: 18px; 
}
.card_app_p2{
    color: var(--grisObscuro);
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 27px; 
}
.seeMore>a{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    fill: var(--azul);
    color: var(--azul);
    text-decoration: none;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 27px; 
}
.team{
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    width: 100%;
   
}
.team_p1{
    color: var(--naranja);
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 27px; 
}
.team_h1{
    color: var(--grisObscuro);
    font-weight: 500;
    font-style: normal;
    font-size: 36px;
    line-height: 54px; 
    width: 80%;
    padding: 1.5rem 0;
}
.team_sub{
    color: var(--grismedio);
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    width: 80%;
    padding-bottom: 3rem;
}
.img_team{
    display: flex;
    width: 100%;
    object-fit: cover;
    border-radius: 24px;
}
.team_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4,1fr);
    gap: .5rem;
}
.person3{
    grid-column: 1/2;
    grid-row: 2/4;
    display: flex;
}
.person1{
    grid-column: 2/3;
    grid-row: 1/3;
    display: flex;
    justify-self: center; 
    width: 90%;
    height: 90%;
    justify-self: baseline;
    
    
}
.person2{
    grid-column: 2/3;
    grid-row: 3/5;
    display: flex;
}
.autor{
    padding-top: 8rem;
    width: 100%;
}
.autor_p{
    color: var(--grisObscuro);
    font-weight: 500;
    font-style: normal;
    font-size: 23px;
    line-height: 36px;
    width: 100%;
}
.autor_div{
    height: fit-content;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: repeat(2, min-content);
    grid-template-areas: 
    "a b"
    "a c";
    align-items: center;
    height: fit-content;
    padding-bottom: 5rem;
}
.autor_img{
    border-radius: 10%;
    width: 100%;
    grid-area: a; 
    justify-self: center;  
}
.autor_name{
    color: var(--grisObscuro);
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    line-height: 36px;
    padding-left: 2rem;
}
.autor_titulo{
    color: var(--grisTxtSub);
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
    padding-left: 2rem;
}
footer{
    background-color: #100E1D;
    width: 100%;
    padding: 2rem;
}
.foot_menu>li{
    list-style: none;
    
}
.foot_menu>li>a{
    color: var(--blanco);
    font-family: var(--font-Poppins);
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 200%;
}
.foot_edie{
    padding-top: 4rem;
    fill: var(--grisClaro);  
}
.foot_edie>a{
    padding: .5rem .5rem .5rem 0;
}
.foot_edie>h1{
    color:var(--grisClaro);
    font-family: var(--font-Heebo);
    font-style: normal;
    font-size: 36px;
    font-weight: 800;
    line-height: 53px;
}
.storyp2_f{
    color: var(--grisTxtSub);
    font-size: 10px;
    font-weight: 500;
    line-height: 15px;
    padding-bottom: 10PX;
    padding-top: 4rem;
    font-family: var(--font-Poppins);
}
.formulario_f{
    display: flex;
    align-items: center;
    background-color: var(--grisClaro);
    width: 100%;
    justify-content: space-between;
    padding:.3rem 0 ;
    border-radius: 12px;
    margin: auto;
    margin-bottom: 6rem;
}
.botonJoin_f{
    text-decoration: none;
    background-color: var(--azul);
    border-radius: 12px;
    color: var(--grisClaro);
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    padding: .5rem 1rem;
    margin-right: .2rem;
    font-family: var(--font-Poppins);

}
.signature{
    text-align: center;
    font-family: var(--font-Poppins);
    color: var(--grisClaro);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
}


@media (min-width: 800px){
    .container{
        padding: 3rem;        
    }

    .menu3{
        align-self: center;
        display:none;
        
    }
    .edielogo{
        font-weight: 800;
        font-size: 36px;
        line-height: 53px;
    
    }
    .menuHeader{
        display: flex;
        list-style: none;
        font-family: var(--font-Poppins);
        font-weight: 500;
        font-size: 24px;
        align-items: center;
        gap: 1.8rem;
        margin: 0;
        line-height: 36px;      
       
    }
    .menulihead a{
        text-decoration: none;
        color: var(--grisObscuro);
    }
    header{
        width: 100%;
        padding-top: 5rem;
    }
    .subUnhappy{
        font-style: normal;
        font-weight: 500;
        line-height: 27px;
        font-size: 18px;
        padding-left: 12rem;
        padding-bottom: 1rem;
    }
    .maintitulo{
        font-size: 48px;
        font-weight: 500;
        line-height: 72px;
        padding-left: 12rem;
        width: 55%;
        padding-bottom: 3rem;
    }
    .story{
        font-size: 48px;
        font-weight: 500;
        line-height: 72px;
        padding-left: 12rem;
        width: 45%;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .storyp1{
        padding-left: 12rem;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        width: 85%;
        padding-bottom: 40px;
        width: 40%;
        text-align: justify;
        letter-spacing: .12rem;
    }
    .storyp2{
        color: var(--grisTxtSub);
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        padding-bottom: 2rem;
        padding-left: 12rem;
    }
    .formulario{
        width: 25%;
        justify-content: space-between;
        padding:.3rem 0 ;
        border-radius: 12px;
        margin: 0;
        margin-left: 12rem;
    }
    #email{
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;    
    }
    .botonJoin{
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
    }
    .ofertas{
        width: 90%;
        display: grid;
        grid-template-areas: 
        "a a a"
        "b c d";
        gap: 4.5rem;
        padding-top: 12rem;
        margin: 0;

    }
    .offer{
        grid-area: a;
        font-weight: 500;
        font-size: 36px;
        line-height: 54px;
        width: 35%;
        height: fit-content;
        padding: 0;
    }
    .ofertas>ci1{
        grid-area: b;
    }
    
    .good{
        width: 35%;
        padding-top: 12rem;
        font-size: 36px;
        line-height: 54px;
        padding-left: 4rem; 
        padding-bottom: 2rem;
    }
    .card_grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(11,.19fr);
        gap: 1rem;
        width: 90%;
        height: fit-content;
        padding-bottom: 1rem;
        margin: auto;
    }
    #capp1{
        grid-column: 1/2;
        grid-row: 2/5;
        display: flex;
    }
    #capp2{
        grid-column: 2/3;
        grid-row: 1/4;
        display: flex;
    }
    #capp3{
        grid-column: 1/2;
        grid-row: 7/10;
        display: flex;
    }
    #capp4{
        grid-column: 2/3;
        grid-row: 6/9;
        display: flex;
    }
    
    .seeMore>a{
        justify-content: right;
        font-size: 24px;
        line-height: 36px;
        padding-right: 4rem;
    }
    .main_team_grid{
        padding-top: 10rem;
        width: 90%;
        display: flex;
        align-items: center;
        margin: auto;
    }
    .team{
        display: flex;
        flex-direction: column;
        padding-top: 3rem;
        width: 100%;
       
    }
    .team_h1{
        width: 55%;
        padding: 1.5rem 0;
    }
    .team_sub{
        width: 50%;
        padding-bottom: 3rem;
        
    }
    
    .autor{
        padding-top: 10rem;
    }
    .autor_p{
        font-size: 36px;
        line-height: 54px;
        width: 70%;
    }
    .autor_div{
        padding-top: 2rem;
        display: grid;
        grid-template-columns: 20% 1fr;
        grid-template-rows: repeat(2, min-content);
        grid-template-areas: 
        "a b"
        "a c";
        align-items: center;
        padding-bottom: 5rem;
        width: fit-content;
    }
    
    .autor_img{
        width: fit-content;
        justify-content: left;
        
    }
    #imagenautor{
        width: 90%;
    }
    .autor_name{
        color: var(--grisObscuro);
        font-weight: 500;
        font-style: normal;
        font-size: 24px;
        line-height: 36px;
        display: flex;
        
    }
    .autor_titulo{
        color: var(--grisTxtSub);
        font-weight: 500;
        font-style: normal;
        font-size: 18px;
        line-height: 27px;
        display: flex;
        
    }
    footer{
        background-color: #100E1D;
        width: 100%;
        padding: 2rem;
        display: grid;
        grid-column-start: 1fr 1fr 1fr;
        grid-template-areas: 
        "a b c" 
        "d d d";
        padding-bottom: 10rem;
        justify-content: space-around;
    }
    .foot_menu{
        list-style: none;
    }

    .foot_edie{
        padding-top: .1rem;
        padding-left: -5rem;
    }
    .foot_edie>a{
        padding: .5rem .5rem .5rem 0;
    }
    .foot_edie>h1{
        color:var(--grisClaro);
        font-family: var(--font-Heebo);
        font-style: normal;
        font-size: 36px;
        font-weight: 800;
        line-height: 53px;
    }
    .bottom_form{
        grid-area: c;
    }
    .storyp2_f{
        font-size: 14px;
        line-height: 21px;
        padding: 0;
    }
    .formulario_f{
        margin-top: 1rem;          
    }
    
    .signature{
        grid-area: d;
        padding: 12rem  0 2rem 0rem;
    }
}